* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Comic Neue', cursive;
}

h1 {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 50px;
  font-size: 2.5rem;
}

#columns {
  display: flex;
}

.column1 {
  width: 40%;
  margin-left: 6%;
  margin-right: 4%;
}

.column2 {
  width: 30%;
  margin-left: 5%;
  margin-right: 15%;
}

.btn {
  padding: 4px;
  border: solid 1px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 5px 5px #000;
}

.btn:hover {
  background-color: lightblue;
  font-weight: 500;
}

.btn:active {
  background-color: rgb(66, 123, 143);
  box-shadow: 2px 2px #000;
  font-weight: 500;
  color: white;
}

.subtitle {
  font-size: 1.6rem;
}

.subtitle2 {
  margin-bottom: 20px;
  font-size: 1.6rem;
}

#scores {
  border: solid 2px;
  border-radius: 3px;
  max-height: 60vh;
  overflow-y: scroll;
}

.row {
  margin: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1.2rem;
}

.btn-refresh {
  float: right;
}

.div {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

input {
  border: 2px solid;
  border-radius: 3px;
  width: 100%;
  font-size: 1.2rem;
  margin-left: 3px;
  margin-top: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#left {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
